.vessel-map{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
}

.vessel-map .vessel-marker {
    width: 55px;
}

.vessel-map .vessel-marker span {
    display: block;
    position: relative;
}

/* workaround: using img tag as id field for materialize input autosuggest */
ul li img {
    opacity: 0;
}

.input-field {
    height: auto;
    padding: 0 13px 0 13px;
    background-color: white;
    z-index: 1;
}

.input-field input {
    font-size: 1.34em;
}

.input-field label {
    opacity: 0;
}

.center-text {
    text-align: center !important;
}

.dropdown-content {
    box-shadow: none !important;
}

.error-container,
.launch-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255,255,255,0.89);
}
.error-message,
.launch-message{
    flex-basis: 100%;
    flex-grow: 1;
    align-self: center;
    font-size: 2em;
    line-height: 1.13em;
    padding: 13px 8px;
}

.error-message p,
.launch-message p {
    margin: 13px;
}